- name: Configure Redis
  ansible.builtin.yum:
    name: http://rpms.remirepo.net/enterprise/remi-release-7.rpm

- name: Install Redis
  ansible.builtin.yum:
    name: redis
    enablerepo: remi
    state: present

- name: Update Redis Config
  ansible.builtin.replace:
    path: {{ item }}
    regexp: '127.0.0.1'
    replace: '0.0.0.0'
  loop:
    - /etc/redis.conf
    - /etc/redis/redis.conf

- name: start Redis
  ansible.builtin.systemd:
    name: redis
    enabled: yes
    state: restarted