- name: Setup MongoDB Repo
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongodb.repo

- name: Install MongoDB
  ansible.builtin.yum:
    name: mongodb-org
    state: present
    update_cache: yes

- name: Update IP Address
  ansible.builtin.replace:
    path: /etc/mongod.conf
    regexp: '127.0.0..1'
    replace: '0.0.0.0'

- name: Start MongoDB
  ansible.builtin.yum:
    name: mongod
    state: present

- name: Download Schema
  ansible.builtin.unarchive:
    src: "https://github.com/roboshop-devops-project/mongodb/archive/main.zip"
    dest: /tmp
    remote_src: yes

- name: Load Schema - Catalogue
  community.mongodb.mongodb_shell:
    file: "/tmp/mongodb-main/catalogue.js"
    idempotent: yes

- name: Load Schema - User
  community.mongodb.mongodb_shell:
    file: "/tmp/mongodb-main/users.js"
    idempotent: yes