- name: Install NodeJS
  ansible.builtin.yum:
    name: ["nodejs", "make", "gcc-c++"]

- name: Add Application USER
  ansible.builtin.user:
    name: roboshop

- name: Download Catalogue
  ansible.builtin.include_tasks:
    file: download.yml

- name: Copy Catalogue Content
  ansible.builtin.copy:
    src: /tmp/catalogue-main/
    dest: /home/roboshop/catalogue/
    remote_src: yes
    owner: roboshop
    group: roboshop

- name: Install Catalogue Dependencies
  community.general.npm:
    path: /home/roboshop/catalogue/
    state: latest
    executable: /bin/node
  become_user: roboshop
