- name: Install Dependency Packages
  ansible.builtin.yum:
    name: [ "python36", "gcc", "python3-devel" ]
    state: present

- name: Add user and Download Content
  ansible.builtin.include_tasks:
    file: download.yml

- name: Install Python Dependencies
  ansible.builtin.pip:
    requirements: /home/roboshop/{{ COMPONENT }}/requirements.txt
    executable: pip3

- name: Setup SystemD
  ansible.builtin.include_tasks:
    name: setup-systemd.yml